verbose = 2;
log_file = "/var/log/xdpfw.log";
interface = "ens18";
update_time = 15;
no_stats = false;
stats_per_second = false;
stdout_update_time = 1000;

filters = (
    {
        enabled = true,
        action = 1
    }
);